PORT=3000
SMTP_HOST=mail.tondomaine.fr
SMTP_PORT=465
SMTP_USER=expediteur@tondomaine.fr
SMTP_PASS=ton_mot_de_passe
FROM_EMAIL=expediteur@tondomaine.fr
TO_EMAIL=toi@email.fr
AGENCY_NAME=astr.studio
MAX_FILE_SIZE_MB=10
